// REWRITES
body
  // background-color: red
  min-width: 320px
  max-width: 100%
  overflow-x: hidden

.container
  max-width: 980px
  width: 100% !important
  padding-left: 20px
  padding-right: 20px
  +r(767)
    padding-left: 10px
    padding-right: 10px

.col
  padding-left: 15px
  padding-right: 15px
  flex: 0 1 auto
  width: 100%
  min-width: 1px
  min-height: 0px

// UTILS
.show-desktop
  display: none
  +rmin($desktop)
    display: block

.show-tablet
  display: block
  +rmin($desktop)
    display: none

.show-mobile
  display: block
  +rmin($tablet)
    display: none

.hidden-mobile-inline
  display: none
  +rmin($tablet)
    display: inline-block
.visible-mobile-inline
  display: inline-block
  +rmin($tablet)
    display: none

.ico
  fill: currentColor


// GENERAL ELEMENTS

+r(767)
  h2
    font-size: 22px
    margin-bottom: 0.5em
  .form-group
    margin-bottom: 15px
    label
      padding: 5px 0
      font-size: 14px
  .form-control
    padding-top: 8px
    padding-bottom: 8px
    height: 40px
  form input[type="submit"], form a.btn
    float: none
    width: 100%
  .btn
    font-size: 14px
    padding-top: 9px
    padding-bottom: 9px
    border-radius: 4px


  /* NEWS
  .newsblock
    position: relative
    margin-top: 30px
    padding-top: 10px
    &::before
      display: inline-block
      content: ' '
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 1px
      background: #d9dee2
  .newsitem
    padding: 5px 0
    border: 0
  .newsblock .newsitem:last-of-type
    padding-bottom: 15px


  .container.theme-showcase
    border-top: 1px solid #d9dee2
    margin-bottom: 100px

  .es-theme-showcase
    padding-bottom: 150px

.es-theme-showcase
  width: 100% !important
  max-width: 990px
  padding-left: 20px
  padding-right: 20px
  +r(991)
    flex-direction: column
  +r(767)
    padding-left: 10px
    padding-right: 10px

.es-rightmenu
  .selectric-menu
    display: none
  .selectric
    border: 1px solid rgb(217, 222, 226)
    border-radius: 5px
    background-color: rgb(245, 248, 250)
    box-shadow: 0px 6px 15px 0px rgba(240, 245, 248, 0.004)
    transition: .25s $ease
    .label
      text-align: left
      font-size: 14px
      font-weight: normal
  .selectric-open
    .selectric
      border-bottom-left-radius: 0px
      border-bottom-right-radius: 0px
  .selectric-items
    background: white
    border: 1px solid rgb(241, 241, 241)
    border-radius: 5px
    box-shadow: 0px 15px 34px 0px rgba(240, 245, 248, 0.004)

  .selectric-items
    li
      font-size: 14px
      padding: 0
      margin: 0
      &:hover
        background: transparent
      &.selected
        background: #f5f8fa
        font-weight: bold
    a
      display: block
      width: 100%
      padding: 8px 15px
      background: transparent
      border-radius: 0px
      border: 0
      box-shadow: none
      transition: .25s $ease
      &:hover
        border: 0
        background: #f5f8fa


+r(991)
  .es-rightmenu
    position: relative
    z-index: 2
    flex: 0 0 auto
    width: 100%
    max-width: 300px
    padding-bottom: 20px
    > ul
      // select to be shown with js
      display: none
    .selectric-menu
      display: block

  .es-right-column
    flex: 0 0 auto
    padding-left: 0
    border-left: 0
    width: 100%

+r(767)
  .es-rightmenu
    padding-bottom: 15px

  .es-right-column
    border-top: 1px solid #d9dee2
    padding-top: 15px


.es-progress__line-item, .request__list, .es-curriculum__line-item, .es-portfolio__line-item
  span.for-mobile
    display: none
    color: #999999 !important
.appeal__content__head_contact
  &--mobile
    display: none

/* pages
+r(767)
  .es-personal__wrap
    flex-wrap: wrap
    align-items: center
    padding-bottom: 20px
  .es-personal__photo
    // flex: 0 0 0px
    width: 70px
    margin-right: 20px
    padding-bottom: 0
    .es-btn--edit
      display: none
    form
      display: none
  .es-personal__data__fio
    font-size: 22px
    margin-bottom: 0
    flex: 0 1 calc(100% - 90px)
  .personal__data
    margin-top: 15px
    padding-bottom: 45px
  .personal__tabs-header a
    padding-left: 18px
    padding-right: 18px
  .contact__item-name
    width: 90px
  .contact__item
    margin-top: 11px
  .my__training__title
    font-size: 18px
    padding-top: 18px
    font-weight: bold
    margin-bottom: 15px
    // letter-spacing: 0.01em
  .es-progress-wrap
    .my__training__title
      font-size: 22px
      padding-top: 0
  .es-training__title
    padding-left: 10px
    font-size: 16px
  .es-training__body-wrap
    padding-top: 15px
    padding-bottom: 0px
  .es-training__info
    flex-direction: column-reverse
  .es-training__right
    // justify-content: flex-end
    padding-left: 10px
    text-align: left
  .es-training__line
    padding-left: 10px
    margin-bottom: 10px
  .es-training__right
    span.es-training__courses
      margin-bottom: 0
  .es-training__left
    position: relative
    margin-top: 10px
    padding-top: 12px
    &::before
      display: inline-block
      content: ''
      position: absolute
      top: 0
      left: 10px
      right: 10px
      height: 1px
      background: #e7e7e7
  .es-training__hidden
    margin-left: -145px
    width: calc(100vw - 40px)
  .es-training__hidden-header
    border-bottom: 0
    padding-bottom: 3px
  .es-training__hidden-num
    width: 60px
  .es-training__hidden-date
    width: 70px
  .es-training__hidden-body span
    font-size: 12px
  .es-training__hidden-body .es-training__line
    margin-bottom: 8px
  .es-training__box
    margin-bottom: 20px



  /* grades

  .es-progress__tab-header
    position: relative
    margin-left: -9px
    margin-right: -9px
    padding-bottom: 12px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      bottom: 0
      left: 10px
      right: 0
      height: 1px
      background: #e7e7e7

  .es-progress__tab-header-item
    margin-left: 0
    padding-left: 9px
    padding-right: 9px
    margin-right: 7px
    margin-bottom: 6px

  /* table
  .es-progress__line:first-child
    display: none
  .es-progress__tab-body
    padding-top: 0
  .es-progress__line
    flex-wrap: wrap
    padding: 10px 0
    &:last-child
      border-bottom: 0
  .es-progress__line-item
    width: 100%
    margin-right: 0
    margin-bottom: 10px
    display: flex
    span.for-mobile
      display: inline-block
      width: 150px
      flex-shrink: 0

  .es-discipline
    font-size: 14px
    margin-bottom: 6px

  /* request
  .request__content__head
    display: block

  .request__content__head
    &--with-btn
      padding-bottom: 0

    .request__form__btn
      padding: 5px 10px
      display: block
      width: 100%
      max-width: 400px
      margin-top: 10px
  /* table
  .request__list
    margin-top: 10px
    border-top: 1px solid #e7e7e7

  .request__list-header
    display: none
  .request__list-body

  .request__list-line
    flex-wrap: wrap
    padding: 15px 0 10px
    div
      width: 100%
      margin-right: 0
      margin-bottom: 10px
      display: flex

  .request__list
    span.for-mobile
      display: inline-block
      width: 150px
      flex-shrink: 0



  /* request page
  .request__content__result
    margin-top: 5px
  .es-request__content-line
    margin-bottom: 10px
  .es-request__content-label
    // width: 140px
    width: 110px
    flex-shrink: 0
  .es-request__data-wrap
    margin-top: 15px
  .es-request__data-wrap .es-request__content-label
    width: 140px
    // flex-shrink: 1
    span
      white-space: normal
      padding-right: 0
  .es-request__data-wrap .es-request__content-line
    border-bottom: 0
    margin-bottom: 15px
    align-items: flex-start
  .request__content__back
    text-align: center
    font-size: 14px
  .request__content__back__link
    font-size: 14px
    font-weight: 400

  /* feedback, request-new
  .appeal__content__head, .request__content__head
    border-bottom: 0
    margin-bottom: 0
    padding-bottom: 12px

  .appeal__form__item, .request__form__item
    flex-wrap: wrap
    max-width: 450px

  .appeal__form__label, .request__form__label
    width: 100%
    padding-bottom: 10px

  /* ads
  .appeal__content__head_title
    font-size: 22px
    margin-top: 0
    margin-bottom: 12px
  .appeal__content__head_contact
    display: none
    p
      margin-top: 12px
      &:first-child
        margin-top: 0
      b
        display: block
      span
        display: block
        margin-top: 3px

    &--mobile
      display: block

  .ads_field-item
    flex-wrap: wrap
    padding-top: 14px
    margin-top: 15px
    &:first-child
      border-top: 1px solid #eaeaea
  .ads_field-data
    width: 100%

  .ads_field-list
    margin-top: -7px
  .ads_field-text
    margin-top: 3px

  /* settings
  .es-notification__title
    font-size: 22px
    margin-top: 0



  /* shedule
  .progress__content__title
    margin-top: 0
    line-height: 1.2
    span
      font-size: 14px
      font-weight: 400
  .week_pagination
    display: flex
    align-items: center
    border-top: 1px solid #eaeaea
    border-bottom: 1px solid #eaeaea
    margin-bottom: 15px
    margin-top: 10px
  .week_dates
    font-size: 14px

  .table_lessons
    font-size: 13px
    tr
      // &:first-child
      //   td:first-child
      //     display: none
    tr
      td:first-child
        min-width: 95px
    td
      text-align: left

  table.table.table_lessons>tbody>tr>td.td_no_padding
    padding: 15px 10px 10px !important

  table.table.table_lessons>tbody>tr>td
    padding: 5px 10px
    line-height: 1.25


  /* curriculum
  .es-curriculum__title
    font-size: 22px
    margin-top: 0
    margin-bottom: 12px
  .es-curriculum__tab-head
    display: block
    border-bottom: 1px solid #eaeaea
    padding-bottom: 20px
  .es-curriculum__btn
    display: block
    width: 100%
    max-width: 400px
    margin-bottom: 12px
    padding: 4px 10px
  .es-curriculum__tab-head__selector
    width: 100%
  .es-curriculum__tab-head__item
    flex: 0 0 50%
    flex-wrap: wrap
    margin-left: 0
    padding-right: 10px
  .es-curriculum__tab-head__item__label
    display: block
    width: 100%

  .es-curriculum__line:first-child
    display: none
  .es-curriculum__tab-body
    padding-top: 0
  .es-curriculum__line
    flex-wrap: wrap
    padding: 10px 0 0
    margin-top: 6px
    &:last-child
      border-bottom: 0
  .es-curriculum__line-item
    width: 100%
    margin-right: 0
    margin-bottom: 10px
    display: flex
    span.for-mobile
      display: inline-block
      width: 150px
      flex-shrink: 0
  .es-curriculum__discipline
    order: 1
    span.for-mobile
      display: none
  .es-curriculum__cipher
    order: 2
  .es-curriculum__form
    order: 3
  .es-curriculum__laboriousness
    position: relative
    order: 4
    margin-bottom: 40px
    &::after
      display: inline-block
      position: absolute
      bottom: -35px
      padding-bottom: 5px
      color: #999
      font-size: 13px
      left: 0
      content: 'Трудоемкость в часах'
      width: 100%
      border-bottom: 1px solid #eaeaea

  .es-curriculum__several-items
    order: 5

  .es-curriculum__total, .es-curriculum__control, .es-curriculum__lectures, .es-curriculum__practical, .es-curriculum__laboratory
    order: 6
    flex-wrap: wrap
    width: 60px
    span.for-mobile
      display: block
      width: 100%

  /* ito
  .ito-title
    margin-top: 0
    font-size: 22px
    line-height: 1.1
  .ito
    h3
      font-size: 18px
      margin-top: 0


  /* portfolio
  .es-portfolio__title
    margin-top: 0
    font-size: 22px
    margin-bottom: 12px

  .es-portfolio__tab-head
    flex-wrap: wrap
  .es-portfolio__tab-head__selector
    display: block
  .es-portfolio__tab-head__item
    display: block
    width: 100%
    max-width: 400px
    margin-bottom: 15px
  .es-portfolio__tab-head__item__label
    display: block

  .es-portfolio__tab-body
    border-top: 1px solid #eaeaea
    margin-top: 10px
    padding-top: 10px
  .es-portfolio__tab-footnote
    margin-top: 5px


  /* table
  .es-portfolio__tab-body-item
    .es-portfolio__line:first-child
      display: none

  .request__list-body

  .es-portfolio__line
    flex-wrap: wrap
    padding: 10px 0 10px
    div
      width: 100%
      margin-right: 0
      margin-bottom: 10px

  .es-portfolio__line-item
    flex-wrap: wrap
    span.for-mobile
      display: block
      width: 150px
      flex-shrink: 0


  /* modal
  .fakultet__selector__title
    font-size: 22px
  .fakultet__selector__default
    font-size: 13px
    padding: 10px 0 15px
